@import "./varaibles.scss";

.buttonCustomDefault {
  border-radius: 20px;
  background-color: $darkBlue;
  padding: 4px 28px 4px 28px;
  width: fit-content;
  height: 40px;
  color: $white;
  border-color: unset;
  border: 0px;
  cursor: pointer;
  &:disabled {
    background-color: $grey;
    color: $white;
  }
}
.red{
	background-color: $darkRed;
}
